<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mamesaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mamesaver.Properties.Settings>
            <setting name="execPath" serializeAs="String">
                <value>C:\Mame\Mame32.exe</value>
            </setting>
            <setting name="cmdOptions" serializeAs="String">
                <value>-skip_gameinfo -nowindow -noswitchres -sleep -triplebuffer -nosound</value>
            </setting>
            <setting name="minutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="backgroundSeconds" serializeAs="String">
                <value>10</value>
            </setting>
        </Mamesaver.Properties.Settings>
    </userSettings>
</configuration>